* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Manrope", sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    min-width: 280px;
}

h2 {
    font-size: clamp(30px, 6vw, 40px);
}

.button {
    text-decoration: none;
    padding: 12px 20px;
    border-radius: 5px;
    background-color: #C9A227;
    color: white;
    transition: background 0.3s;
}

.button:hover {
    background-color: #B8860B;
}

nav {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0 0;
    position: fixed;
    width: 100%;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.nav-container {
    width: 86%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    max-width: 200px;
    width: 25%;
    min-width: 150px;
}

.logo img {
    width: 100%;
}

.nav-list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 35px;
    font-size: 18px;
}

.nav-link {
    color: black;
    text-decoration: none;
    padding-bottom: 10px;
    position: relative;
}

.nav-link::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 2px;
    border-radius: 2px;
    background-color: #C9A227;
    transition: width 0.3s;
}

.nav-link:hover::after {
    width: 100%;
}

.nav-cta a {
    font-size: 18px;
    text-decoration: none;
    padding: 14px 20px;
    background: #C9A227;
    color: white;
    border-radius: 4px;
    transition: background 0.3s;
}

.nav-cta a:hover {
    background: #B8860B;
}

.nav-cta a:active{
    background: #C9A227;
}

.hamburger {
    width: 20px;
    height: 15px;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.hamburger span {
    height: 2px;
    background-color: black;
    width: 100%;
}

.fa-solid.fa-arrow-right-from-bracket {
    display: none;
    cursor: pointer;
}

/* Hero Section */
.hero-overlay {
    width: 100%;
    height: 100%;
    top: 0;
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    z-index: 0;
}

.hero {
    background-image: url("media/hero-bg-image.png");
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.hero-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    padding: 200px 0;
    max-width: 850px;
    z-index: 1;
}

.hero-text {
    text-align: center;
    color: white;
}

.hero-heading {
    font-size: clamp(40px, 7vw, 55px);
    margin-bottom: 10px;
}

.hero-heading span {
    background: linear-gradient(135deg,#B8860B,#D4AF37, #F4E28C);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.hero-subtext {
    font-size: clamp(16px, 4vw, 23px);
    color: #e0e0e0;
    margin-bottom: 15px;
}

.hero-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    font-size: 17px;
}

.hero-contact {
    text-decoration: none;
    padding: 11px 20px;
    border: 1px solid #C9A227;
    border-radius: 5px;
    color: white;
    background: rgba(0, 0, 0, 0.219);
    transition: all 0.3s;
}

.hero-contact:hover {
    background: #C9A227;
}

.hero-contact:active {
    background: #c9a3279f;
}

/* Home-info */
.home-intro {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 0;
}

.home-intro-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 86%;
    max-width: 1400px;
    gap: 50px;
}

.home-intro-text {
    flex: 1;
}

.home-intro-text h2 {
    color: rgb(4, 116, 60);
    font-size: clamp(30px, 6vw, 40px);
}

.home-intro-subtitle {
    margin: 10px 0 20px;
    font-size: clamp(20px, 6vw, 25px);
    font-weight: bold;
}

.home-intro-subtext {
    line-height: 35px;
    margin-bottom: 25px;
}

.home-intro-btn {
    display: inline-block;
}

.home-intro-image-container {
    flex: 1;
    max-width: 600px;
}

.home-intro-image {
    border-radius: 30px;
    overflow: hidden;
    max-height: 550px;
}

.home-intro-image img {
    width: 100%;
}

/* Why Choose Us */
.why-choose {
    background: rgb(4, 116, 60);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px;
}

.why-choose-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 1300px;
    width: 86%;
    gap: 30px;
}

.why-choose-header {
    text-align: center;
    color: white;
    padding-bottom: 10px;
    position: relative;
}

.why-choose-header::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 25%;
    height: 2px;
    border-radius: 2px;
    background: #D4AF37;
}

.why-choose-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.why-choose-card {
    background: white;
    padding: 25px 15px 15px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-left: 3px solid #D4AF37;
    transition: transform 0.3s;
}

.why-choose-card:hover {
    transform: translateY(-3px);
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.5);
}

.why-choose-card .fa-solid {
    color: rgb(4, 116, 60);
    font-size: 20px;
}

.card-title {
    font-weight: bold;
}

.card-text {
    line-height: 35px;
}

/* CSS Scroll reveal animations */
.reveal.up{
    transform: translateY(50px);
    opacity: 0;
    transition: all 1.5s;
}

.reveal.up.show {
    transform: translateY(0);
    opacity: 1;
}

.reveal.fade-in{
    opacity: 0;
    transition: all 2s;
}

.reveal.fade-in.show {
    opacity: 1;
}

@media(max-width: 1024px) {
    .nav-cta {
        display: none;
    }
}

@media (max-width: 950px) {
    .nav-list {
        position: fixed;
        flex-direction: column;
        background: rgba(0, 0, 0, 0.808);
        backdrop-filter: blur(10px);
        top: 0;
        bottom: 0;
        width: 100%;
        left: -100%;
        padding: 100px 0;
        gap: 0;
        transition: all 0.5s;
    }

    .fa-solid.fa-arrow-right-from-bracket {
        display: block;
        width: 80%;
        text-align: center;
        padding: 20px 0;
        font-weight: bold;
        font-size: 18px;
        color: white;
    }

    .hamburger {
        display: flex;
    }

    .nav-link {
        width: 80%;
        text-align: center;
        padding: 20px 0;
        color: white;
        transition: all 0.3s;
    }

    .nav-link:hover, .fa-solid.fa-arrow-right-from-bracket:hover {
        background-color: rgba(255, 255, 255, 0.2);
    }

    .nav-link:active, .fa-solid.fa-arrow-right-from-bracket:hover {
        background-color: rgba(255, 255, 255, 0.2);
    }

    .nav-link:hover::after {
        width: 0;
    }

    /* Home-intro-section */
    .home-intro-container {
        flex-direction: column;
    }
}

@media(max-width: 768px){
    p {
        font-size: 16px;
    }

    .button{
        padding: 10px 18px;
    }

    .hero-contact {
        padding: 9px 18px;
    }

    /* Home intro section */
    .home-intro {
        padding: 50px 0;
    }

    .home-intro-container{
        width: 90%;
        gap: 40px;
    }

    .home-intro-subtext {
        margin-bottom: 10px;
    }

    /* Why Choose */
    .why-choose-container {
        width: 90%;
    }
}